/*Heavily inspired by Google's Material Design. Learn more about it at https://material.io/ */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@media screen {
  body {
    background-color: #cfd8dc;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  .bar {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 0.5em 0;
    background: #039be5;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    color: white;
  }
  .bar h1 {
    font-size: 1em;
    padding: 0;
    margin: 0.5em;
    display: inline-block;
  }
  .bar nav {
    float: right;
  }
  .bar nav a {
    font-size: 1em;
    padding: 0.5em;
    background: transparent;
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
  }
  .bar nav a:hover {
    color: #039be5;
    background: white;
  }
  main {
    width: calc(100% - 2em);
    padding: 1em;
    height: auto;
    overflow: hidden;
  }
  .card {
    width: calc( 100% - 5em);
    padding: 1em 2em;
    background: white;
    border-radius: 0.5em;
    margin: 0.5em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    overflow: hidden;
  }
  .card.half {
    width: calc(50% - 5em);
    float: left;
    margin: 0.5em 0.5em;
  }
  .row {
    width: 100%;
    max-width: 750px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .top {
    padding: 2px;
    max-width: 750px;
    left: 0;
    right: 0;
    margin: auto;
  }
  #in {
    transition: all 0.1s ease;
    width: calc(75% - 2em - 10px);
    margin: 2.5px;
    background: white;
    border: 2px solid #039be5;
    border-radius: 2.5px;
    padding: calc(1em + 1px) 1em;
    float: left;
  }
  .key {
    background: #039be5;
    border: none;
    border-radius: 2.5px;
    width: calc( 25% - 5.5px);
    padding: calc(1em + 2px) 2px;
    /*May change later.*/
    transition: all 0.1s ease;
    user-select: none;
    margin: 2.5px;
    color: white;
    text-decoration: none;
    float: left;
  }
  .key.sm {
    width: calc( 12.5% - 5.25px);
  }
  .key.full {
    width: calc(100% - 6px);
  }
  .key:hover:not(.disable),
  #in:hover,
  #in:focus {
    /*May change later.*/
    -webkit-box-shadow: 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
  }
  .key:active:not(.disable) {
    /*May change later.*/
    -webkit-box-shadow: inset 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: inset 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: inset 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
  }
}
