/*Heavily inspired by Google's Material Design. Learn more about it at https://material.io/ */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@media screen {
  body {
    background-color: #cfd8dc;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  .bar {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background: #0BAB75;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    color: white;
  }
  .bar.fixed {
    position: sticky;
    top: -0.1px;
  }
  .bar h1 {
    font-size: 1em;
    padding: 0;
    margin: 0.5em;
    display: inline-block;
  }
  .bar button {
    border: none;
    font-weight: bold;
    display: inline-block;
    padding: 0.5em;
  }
  .bar nav {
    display: block;
    position: absolute;
    left: -15em;
    background: #0BAB75;
    transition: all 0.1s ease;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
  }
  .bar nav.show {
    display: block;
    left: 0;
    width: 15em;
    height: calc(100vh - 2.5em - 1px);
  }
  .bar nav a {
    display: block;
    padding: 1em 0.5em;
  }
  .bar nav a[href='#'] {
    color: #0BAB75;
    background: white;
  }
  .bar nav a,
  .bar button {
    font-size: 1em;
    background: transparent;
    text-decoration: none;
    color: white;
    transition: all 0.1s ease;
    box-sizing: content-box;
  }
  .bar nav a:hover,
  .bar button:hover {
    color: #0BAB75;
    background: white;
  }
  .bar nav a:active,
  .bar button:active {
    background: rgb(250, 250, 250);
  }
  main {
    width: calc(100% - 2em);
    padding: 0.5em 1em;
    height: auto;
    overflow: hidden;
  }
  .card {
    width: calc( 100% - 5em);
    padding: 1em 2em;
    background: white;
    border-radius: 0.5em;
    margin: 0.5em;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
    overflow: hidden;
  }
  .card.half {
    width: calc(50% - 5em);
    float: left;
    margin: 0.5em 0.5em;
  }
  .card.threequarters {
    width: calc(75% - 5em);
    float: left;
    margin: 0.5em 0.5em;
  }
  .card.quarter {
    width: calc(25% - 5em);
    float: left;
    margin: 0.5em 0.5em;
  }
  .card.right {
    float: right;
  }
  .row {
    width: 100%;
    max-width: 750px;
    left: 0;
    right: 0;
    margin: auto;
    clear: both;
  }
  .top {
    padding: 2px;
    max-width: 750px;
    left: 0;
    right: 0;
    margin: auto;
  }
  #in {
    transition: all 0.1s ease;
    width: calc(75% - 2em - 10px);
    margin: 2.5px;
    background: white;
    border: 2px solid #0BAB75;
    border-radius: 2.5px;
    padding: calc(1em + 1px) 1em;
    float: left;
  }
  .key {
    background: #0BAB75;
    border: none;
    border-radius: 2.5px;
    width: calc( 25% - 5.5px);
    padding: calc(1em + 2px) 2px;
    /*May change later.*/
    transition: all 0.1s ease;
    user-select: none;
    margin: 2.5px;
    color: white;
    text-decoration: none;
    float: left;
  }
  .key.sm {
    width: calc( 12.5% - 5.25px);
  }
  .key.full {
    width: calc(100% - 6px);
  }
  .key:hover:not(.disable),
  #in:hover,
  #in:focus {
    /*May change later.*/
    -webkit-box-shadow: 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
  }
  .key:active:not(.disable) {
    /*May change later.*/
    -webkit-box-shadow: inset 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: inset 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow: inset 0px 2.5px 5px 0px rgba(50, 50, 50, 0.25);
  }
}

@media screen and (max-width: 40em) {
  main {
    width: calc(100% - 0.5em);
    padding: 0.25em;
  }
  .card {
    padding: 0.5em 1em;
    width: calc( 100% - 3em);
  }
  .card.half, .card.threequarters, .card.quarter {
    width: calc(100% - 3em);
    float: left;
    margin: 0.5em 0.5em;
    clear: both;
  }
}
